body {
    width: 100%;
    height: 100%;
    background-image:url("/.img/Qual-a-tecnologia") ;
    background-repeat: no-repeat;
    background-size: 100%;
}
h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px !important;
}